@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap");

.loginBackground {
  background-image: url("./assets/images/background_login.avif");
  border-radius: 120px;
}

.scrollable {
  overflow-x: scroll;
}

.scrollable::-webkit-scrollbar {
  display: none;
}

.detail {
  box-sizing: border-box;
}

.detail-body {
  margin: 0;
  background-color: white;
}

// Detail page for image styling

.center-wrapper {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.image-wrapper {
  width: 820px;
  height: 480px;
  position: block;
  margin: auto;
}

@media (max-width: 768px) {
  .image-wrapper {
    width: 300px;
    height: 200px;
  }
}

.image-wrapper img {
  position: absolute;
  transform-origin: left;
}

.image-1 {
  clip-path: polygon(0 0, 0 32%, 28% 0);
  transform: translate(-55px, -35px);
  transition: transform 300ms ease;
  transform-origin: top;
  .image-wrapper:hover & {
    transform: translate(0, 0);
  }
}

.image-2 {
  clip-path: polygon(28% 0, 0 32%, 0 100%, 17% 100%, 90% 0);
  transform: translate(-35px, -5px);
  transition: transform 300ms ease;
  .image-wrapper:hover & {
    transform: translate(0, 0);
  }
}

.image-3 {
  clip-path: polygon(100% 0, 100% 65%, 74% 100%, 17% 100%, 90% 0);
  transform: translate(20px, -25px);
  transition: transform 300ms ease;
  .image-wrapper:hover & {
    transform: translate(0, 0);
  }
}

.image-4 {
  clip-path: polygon(100% 65%, 74% 100%, 100% 100%);
  transform: translate(40px, 10px);
  transition: transform 300ms ease;
  transform-origin: top;
  .image-wrapper:hover & {
    transform: translate(0, 0);
  }
}

// Humbuger Menu

.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  content: "";
  width: 24px;
  height: 3px;
  top: 0;
  left: 0;
  background: #9c9aa6;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}

.open {
  transform: rotate(90deg);
  transform: translateY(0px);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(8px) translateX(8px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
}
